*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background: rgb(42, 129, 157);
    color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
main{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 10rem) ;
    grid-template-rows: repeat(3,10rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 8rem;
}
div{
    justify-content: center;
    align-items: center;

}
.box{
    padding: 5rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color:cadetblue;
    width: 100%;
    height: 100% ;
    margin: 5rem;
}
.box:first-child{
   grid-column: 1/4;
   grid-row: 1/1;
   background: url(./img/images\ \(2\).jpg); 
}
.box:nth-child(2){
    grid-column: 4/6;
    grid-row: 1/3;
    background: url(./img/images\ \(1\).jpg);
    background-attachment: fixed;
}
img{
    width: 100%;
    height: 100%    ;
}
.box:nth-child(3){
    grid-column: 1/3;
    grid-row: 2/4;
    background-color: brown;}

.box:nth-child(4){
    grid-row: 2/4;
    background-color: rgb(62, 118, 6);
}
.box.box:nth-child(7){
    grid-column: 3/6;
    background-image: url(./img/images\ \(3\).jpg);
}
.box.box:nth-child(5){
    grid-column: 4/6;
}
.box.box:nth-child(6){
    grid-column: 1/3;
}
.box.box:nth-child(8){
    grid-column:3/6 ;
}